.product-info {
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    width: 350px;
  }
.product-info img {
    max-width: 250px;
    float: left;
    margin: 0 2px;
    border: solid 1px grey;
  }
  
  .product-info .product-name {
    font-size: large;
    font-weight: bold;
  }