<h1>Books</h1>

<p *ngIf="!books"><b>Loading...</b></p>
<p><button type="button" 
    class="btn btn-primary btn-sm" 
    (click)="addBook()">
    Add new book
</button></p>
<table class="table table-striped" *ngIf="books">
<thead>
    <tr>
        <th>Title</th>
        <th>AuthorName</th>
        <th>PublisherName</th>
        <th>Price</th>
        <th>PublicationYear</th>
        <th>Image</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let book of books">
        <td>{{book.title}}</td>
        <td>{{book.authorName}}</td>
        <td>{{book.publisherName}}</td>
        <td>{{book.price}}</td>
        <td>{{book.publicationYear}}</td> 
        <td><img [src]="createImgPath(book.image)" alt="profile picture" style="width:90px; height:100px;"></td>
        <td>
            <button type="button" 
                class="btn btn-default btn-sm" 
                (click)="showBook(book.id)">
                Show
            </button>
            <button type="button" 
                class="btn btn-success btn-sm" 
                (click)="updateBook(book.id)">
                Update
            </button>
            <button type="button" 
                class="btn btn-danger btn-sm" 
                (click)="deleteBook(book.id)">
                Delete
            </button>
        </td>
    </tr>

</tbody> 
</table>
