h1 {
    background: none;
    font-size: 32px;
    letter-spacing: .3px;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 3px;
    padding-top: 0;
    margin-top: 48px;
}
label{
    background: none;
    font-size: 20px;
    letter-spacing: .3px;
    line-height: 24px;
    padding-bottom: 3px;
    padding-top: 0;
}